<!DOCTYPE html>
<html lang="en">
<head>
  <title>Junjie Chen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Junjie Chen</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#software">TOOLS</a></li>
        <li><a href="#services">CLOUD</a></li>
        <li><a href="#social">SOCIAL</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1 class="mx-auto text-uppercase">Junjie Chen</h1> 
  <p>Software/Web Developer</p> 
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Me</h2><br>
      <h4>Hi. My name is Junjie Chen, and welcome to my portfolio website!</h4><br>
      <p>I am a first generation Chinese immigrant that spent the better part of my two decades in Canada.
        For as long as I can remember, I have always had a strong passion for technology. Recently I decided to take that
        passion and make it a reality. Professionally, I see myself as a motivated individual with a strong work ethic 
        and attention to detail. In my spare time, I like to apply myself physically and challenge myself 
        to reach new heights constantly.  
      </p>
      <br><a href="/resume/Junjie_Chen_resume.pdf" download target="_blank"> <button class="btn btn-default btn-lg active">CV/Resume</button></a>
    </div>
    <div class="col-sm-4">
      <span class="portrait"><img src="image/normal/normal_1.jpg" alt="portrait" class="headshot" style= "width:150px; height:200px;"></span>
    </div>
  </div>
</div>
<!-- Container (Experience Section) -->
<div id="experience" class="container-fluid text-center bg-grey">

<!-- Container (Skills Section) -->
<div id="skills" class="container-fluid text-center">
  <h2>Technical Skills</h2>
  <h4>Languages/Frameworks</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-cplusplus-plain colored" style="font-size:50px; color:rgb(93, 84, 230);"></i></span>
       <h4>C/C++</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-javascript-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>Javascript</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-angularjs-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>Angular</h4>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
      <div class="col-sm-4">
        <span class="prog-lang"><i class="devicon-css3-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
        <h4>CSS3</h4>

      </div>
      <div class="col-sm-4">
        <span class="prog-lang"><i class="devicon-html5-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
        <h4>HTML5</h4>

      </div>
      <div class="col-sm-4">
        <span class="prog-lang"><i class="devicon-bootstrap-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
        <h4>Bootstrap</h4>

      </div>
    </div>
    <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-express-original colored"style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>Express.js</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-nodejs-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>Node.js</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-mongodb-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>MongoDB</h4>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-jquery-plain colored" style="font-size:50px; ccolor:rgb(93, 84, 230;"></i></span>
      <h4>jQuery</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-postgresql-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>PostgreSQL</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-mysql-plain colored" style="font-size:50px; color:rgb(93, 84, 230;"></i></span>
      <h4>MySQL</h4>
    </div>
  </div>
</div>
</div>

<!-- Container (Software Section) -->
<div id="software" class="container-fluid text-center">
  <h2>Software</h2>
  <h4>Tools I Use to Create</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-visualstudio-plain colored" style="font-size:50px;"></i></span>
      <h4>Microsoft VS/Code</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="fab fa-apple" style="font-size:50px;"></i></span>
      <h4>Xcode/Mac OS</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-oracle-plain colored" style="font-size:50px;"></i></span>
      <h4>Oracle SQL developer</h4>
    </div>
  </div>
  <br><br>
</div>

<!-- Container (Cloud/hosting Section) -->
<div id="services" class="container-fluid text-center bg-grey">
  <h2>Cloud/Hosting Services</h2>
  <h4>Tools I Use to Host</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-github-plain colored" style="font-size:50px;"></i></span>
      <h4>GitHub</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-heroku-plain colored" style="font-size:50px;"></i></span>
      <h4>Heroku</h4>
    </div>
    <div class="col-sm-4">
      <span class="prog-lang"><i class="devicon-google-plain colored" style="font-size:50px;"></i></span>
      <h4>Google</h4>
    </div>
  </div>
  <br><br>
</div>

<!-- Container (Social Section) -->
<div id="social" class="container-fluid text-center">
  <h2>Social</h2>
  <h4>Connect With Me!</h4><br><br>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
        <span class="links"><a href="https://github.com/keith9999" target="_blank"><i class="fab fa-github" style="font-size:50px;"></i></span>
        <p><strong>GitHub</strong></p></a>
        <p></p>
    </div>
    <div class="col-sm-4">
        <span class="links"><a href="https://www.linkedin.com/feed/?trk=nav_back_to_linkedin" target="_blank"><i class="fab fa-linkedin" style="font-size:50px;"></i></span>
        <p><strong>LinkedIn</strong></p></a>
        <p></p>
    </div>
    <div class="col-sm-4">
        <span class="links"><a href="https://www.instagram.com/junjiechen9/" target="_blank"><i class="fab fa-instagram" style="font-size:50px;"></i></span>
        <p><strong>Instagram</strong></p></a>
        <p></p>
    </div>
  </div><br>
  
  <div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
  
        <div class="item active">
            <div class="thumbnail">
                <img src="image//volunteer/volunteer3_oct_2018_FOSSO_volunteer.jpg" alt="Volunteer" style= "width:500px; height:600px;" class="rounded">
            </div>
          <div class="carousel-caption">
            <h4>2018 FSOSS Volunteer</h4>
          </div>
        </div>
  
        <div class="item">
            <div class="thumbnail">
                <img src="image/volunteer/volunteer_1_20110131.jpg" alt="Volunteer" style= "width:500px; height:600px;" class="rounded">
          </div>
          <div class="carousel-caption">
              <h4>2011 Guangzhou South Railway Volunteer</h4>
          </div>
        </div>
      
        <div class="item">
            <div class="thumbnail">
                <img src="image/volunteer/volunteer2_大学城亚运火炬传递3.jpg" alt="Volunteer" style= "width:500px; height:600px;" class="rounded">
          </div>
          <div class="carousel-caption">
              <h4>2010 Guangzhou Asian Games Volunteers</h4>
          </div>
        </div>

         <div class="item">
            <div class="thumbnail">
                <img src="image/certificate/2018_leadership.jpg" alt="Volunteer" style= "width:500px; height:600px;" class="rounded">
          </div>
          <div class="carousel-caption">
              <h4>2018 leaderShip</h4>
          </div>
        </div>
  
    
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  </div>
  <br><br>



<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid text-center bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact me and I will get back to you ASAP.</p>
      <p><span class="location"><i class="fas fa-map-marked-alt"></i></span> Toronto, ON, Canada</p>
      <p><span class="phone"><i class="fas fa-mobile"></i></span> <a href="tel:416-669-3928">+1 647-573-3888</a></p>
      <p><span class="email"><i class="fas fa-at"></i></span><a href="mailto:jchen377@myseneca.ca"> jchen377@myseneca.ca</p></a>
    </div>
    <div class="col-sm-7 slideanim">
        <form action="mailto:jchen377@myseneca.ca" method="POST" enctype="text/plain">
      <div class="row"> 
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="message" placeholder="Message" rows="5" maxlength="500"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="home"><i class="fas fa-home" style="font-size:40px;"></i></span>
  </a>
  <br><br><p>Made using HTML5, jQuery, CSS3 and Bootstrap by Junjie Chen. </a></p>
</footer>
</body>
</html>